<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bolyartech.forge.admin"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".units.main.ActMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".units.login.ActLogin"
            android:label="@string/act__login__title"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".units.admin_user.admin_users_list.ActAdminUsersList"
            android:label="@string/act__admin_users_list__title">
        </activity>
        <activity android:name=".units.admin_user.admin_user_manage.ActAdminUserManage">
        </activity>
        <activity android:name=".units.admin_user.admin_user_create.ActAdminUserCreate">
        </activity>
        <activity android:name=".units.admin_user.admin_user_chpwd.ActAdminUserChpwd">
        </activity>
        <activity android:name=".units.user.users.ActUsers">
        </activity>
        <activity android:name=".units.user.user_manage.ActUserManage">
        </activity>
        <activity android:name=".units.user.user_chpwd.ActUserChpwd">
        </activity>
    </application>

</manifest>